.element__caption-like {
  /* margin: 25px 15px 31px 8px; */
  margin: 0;
  padding: 100% 0 0 0;
  width: 20.76px;
  border: 0;
  background-color: #fff;
  background-image: url('../../../images/heart_disabled.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
}

.element__caption-like:not(.element__caption-like_active):hover {
  cursor: pointer;
  background-image: url('../../../images/heart_hover.svg');
}