.popup__container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width:680px) {
  .popup__container {
    margin: 19px;
    padding: 0 22px;
  }
}