.header {
  margin: 0;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 580px) {
  .header {
    padding: 28px 0 31.6px 0;
  }
}

.header__login {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__login_email {
  color: #fff;
  font-weight: 500;
  margin-right: 24px;
}

.header__login_link {
  color: #a9a9a9;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}