.header {
  margin: 0;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 580px) {
  .header {
    padding: 28px 0 31.6px 0;
  }
}